*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
}



@media (min-width: 375px){
/*------ Header and navigation -----*/

.navigation__container {
  top: 0px;
  margin-bottom: 5px;
  z-index: 9999;
  width: 100%;
}

.mobileiconlabel {
  display: inline-block;
  font-style: normal;
  font-size: 3rem;
  padding: 10px 5px;
  margin-bottom: 30px;
  position: absolute;
  right: -70px;
  top: 10px;
  z-index: 25;
  
} 

.menuitem {
  display: block;
  width: 100%;
  padding: 10px;
  color: black;
  text-decoration: none;
  text-align: center;
  position: sticky;
  background-color: white;
}




/* Hide checkbox and menuitems until clicked */
.menuitems__container,
.mobileicon {
  display: none;
  height: 200px;
}

/* Show menuitems when mobileicon-label is clicked */
.navigation__container input:checked ~ .menuitems__container {
  display: block;
  color: black;
  background-color: white;
  z-index: 999;
}

/* logo to the left */
.logo {
  position: absolute;
  top: 5px;
  margin-left: -80px;
  left: 25px;
  width: 50%;
  margin-top: 20px;
  z-index: 999;
}


/* Display company logo to the left */
.container{
  max-width: 68rem;
  padding: 0 2rem;
  margin: 0 auto;
}



.mapic{
  display: block;
 position: relative;
  z-index: 19;
  width: 380px;
  margin-left: -90px;
}

.mapic2{
display: none;
}






.big-title{
  position: absolute;
  z-index: 30;
  line-height: 3rem;
  top: calc(58% - 12.5rem);
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  font-family: 'Fjalla One', sans-serif;
  color: orange;
}

.big-title2{
  font-size: 1.3rem;
  margin-top: -10px;
  color: black;
  font-family: 'Caveat', cursive;
}

.big-title3{
  line-height: 0rem;
  margin-top: -40px;
  font-size: 1.3rem;
  color: black;
  font-family: 'Permanent Marker', cursive;
}
section{
  width: 100%;
  position: relative;
}
section .container{
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}
section .fact-container{
  background-color: white;
  min-height: 10vh;
}
.animated-text {
  color: black; 
  position:absolute; 
margin-top: -230px;
font-size: 12px;
text-align:center;
z-index: 30;
line-height: 18px;
margin-right: 40px;
margin-left: 70px;
}
.tyk_cider{
  font-weight: bold;
}

.scroll{
  color: black; 
  position:absolute;
  z-index: 30;
text-align: center;
font-family: 'Shadows Into Light Two', cursive;
font-size: 12px;
  padding-left: 65px; 
margin-top: -110px;
text-align: center;
font-weight: bold;
color: rgb(47, 95, 38);
}


.pil{
height: 70px;
margin-top: -13px;
margin-right: -290px;
}

.seb{
  position: relative;
 width: 100%;
 margin-top: -130px;

}

.tekstbillede{
  color:black;
  position:absolute; 
  margin-top: 20px;
font-size: 16px;
line-height: 18px;
text-align:center;
margin-left: 50px;
width: 290px;
font-family: 'Shadows Into Light Two', cursive;
}
.tyk_tegn{
  font-size: 14px;
  font-weight: bold;
}

.tekstunder2{
color:rgb(253, 135, 0);
position:absolute; 
margin-left: 150px;
font-size: 13px;
margin-top: 125px;
font-family: 'Shadows Into Light Two', cursive;
}

.havetekst{
  font-family: 'Shadows Into Light Two', cursive;
  margin-top: -120px;
font-size: 20px;
color:rgb(253, 135, 0);
margin-left: 145px;
}

.teksthave{
font-size: 10px;
margin-top: 20px;
text-align: center;
margin-left: 90px;
margin-right: 45px;
line-height: 14px;
}

.teksthave2{
  font-size: 10px;
  margin-top: 20px;
  text-align: center;
  margin-left: 55px;
  margin-right: 55px;
  line-height: 14px;
  }
  .teksthave3{
    font-size: 10px;
  margin-top: 40px;
  text-align: center;
  margin-left: 55px;
  margin-right: 55px;
  line-height: 14px;
  }
  .pil_video{
   width: 30px;
   margin-top: -100px;
  margin-left: 50px;
  }

  .video{
    width: 80%;
margin-top: 30px;
  }

  .video_div{
    text-align: center;
  }

.infographic{
 height: 330px;
  }
.plantage_illu{
    width: 95%;
    margin-top: 20px;
  }
.plantage_img{
    width: 100%;
  }
  .høst{
    display: none;
  }
  .og{
    display: none;
  }
  .begyndelse{
    display: none;
  }
.cider_find{
  color: rgb(119, 138, 115);
  font-size: 14px;
  margin: 20px 50px 0 20px;
  font-family: 'Shadows Into Light Two', cursive;
}
.pil2{
  margin-left: 30px;
  height: 70px; 
  margin-left: 307px;
  margin-top: -40px;
  margin-bottom: 10px;
    } 


section .container > *{
  margin: 2rem;

 
}
.content{
  color:black;

  /* transform: translateY(-50px); */
}

.text{
  line-height: 25px;
  font-size: 18px;
  margin-top: -100px;
}

.title{
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: -119rem;
  padding-bottom: 2.5rem;
  position: relative;
}

.border{
  position: absolute;
  width: 60%;
  height: 3px;

  bottom: 0;
  left: 0;
}

.shadow{

  background-color:black;
}

.haveejer{
  width: 60%;
  margin-left: -25px;
  margin-top: 140px;

}

.kort{
width: 375px;
height: 300px;
display: none;

}

.mere_container{
height: 100px;
  background-color: rgb(136, 163, 133);
  padding-left: 120px;
  padding-top: 30px;
  font-size: 20px;
}
/* Pil ned section */
#section07 a {
  padding-top: 70px;
}

#section07 a span {
  position: absolute;
  left: 22%;
  width: 15px;
  height: 15px;
  margin-top: -10px;
  border-left: 2px solid rgb(5, 5, 5);
  border-bottom: 2px solid rgb(0, 0, 0);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}


@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}




  .container_underside {
    position: relative;
    width: 100%;
  }
  
 
  .container_underside img {
    width: 100%;
    height: auto;
  }
  
  .container_underside .btn_omos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    opacity: 0.8;
    color: black;
    font-size: 16px;
    padding: 5px 16px;
    border: none;
    cursor: pointer;
    border-radius: 7px;
  }
  
.container_undersider{
  position: relative;
    width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: -10px;
  }
  .container_undersider img{
    width: 50%;
    height: auto;
  }
  .container_undersider .btn_produktion {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    opacity: 0.8;
    color: black;
    font-size: 16px;
    padding: 5px 16px;
    border: none;
    cursor: pointer;
    border-radius: 7px;
  }
  .container_undersider .btn_webshop {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    opacity: 0.8;
    color: black;
    font-size: 16px;
    padding: 5px 16px;
    border: none;
    cursor: pointer;
    border-radius: 7px;
  }
  .undersider_desktop{
    display: none;
  } 
 
  
  






/* kort mobilversion */ 


  .container {
    position: relative;
    width: 50%;
    display: block;
  }
  

   /* Bardok knap*/ 

/* Style the button and place it in the middle of the container/image */
.container .mybtn {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:transparent;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: block;
  }


.navi{
display: block;
    width: 50px;
}



.koort {
height: 300px;
    width: 375px;
    margin-left: -125px;
    display: block;
}




/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color:bisque;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    text-align: center;
    display: block;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    display: block;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    display: block;
  }



  




 /* Nabo kiosk knap*/ 





  /* Style the button and place it in the middle of the container/image */
.container .mybtn2 {
  display: block;
    position: absolute;
    top: 20%;
    left: 135%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:transparent;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }


.navi2{
display: block;
    width: 50px;
}








/* The Modal (background) */
.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content2 {
    background-color:bisque;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    text-align: center;
    display: block;
  }
  
  /* The Close Button */
  .close2 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    display: block;
  }
  
  .close2:hover,
  .close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    display: block;
  }






  /* Moef knap*/ 


  /* Style the button and place it in the middle of the container/image */
.container .mybtn3 {
  display: block;
    position: absolute;
    top: 70%;
    left: 70%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:transparent;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }


.navi3{
display: block;
    width: 50px;
}








/* The Modal (background) */
.modal3 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content3 {
    display: block;
    background-color:bisque;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    text-align: center;
  }
  
  /* The Close Button */
  .close3 {
    display: block;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close3:hover,
  .close3:focus {
    display: block;
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }















  /* Bambi knap*/ 


  /* Style the button and place it in the middle of the container/image */
.container .mybtn4 {
  display: block;
    position: absolute;
    top: 32%;
    left: 75%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:transparent;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }


.navi4{
display: block;
    width: 50px;
}








/* The Modal (background) */
.modal4 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content4 {
    display: block;
    background-color: bisque;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
  }
  
  /* The Close Button */
  .close4 {
    display: block;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close4:hover,
  .close4:focus {
    display: block;
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }




  .nabo{
z-index: 30;
    width: 50px;
  }



  /*------ Footer section-----*/

.page_footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 15rem;
  align-items: center;
  text-align: center;
  background-color: rgba(164, 184, 144, 0.603);
  padding-top: 20px;
  font-size: 22px;
}

.footer_card{
  padding: 10px;
}

.some_image {
  width: 30px;
  
}

.footer_card_heading {
  margin-bottom: 5px;
  font-family: 'Shadows Into Light Two', cursive;
}

.footer_card:first-child .footer_card_heading {
  margin-bottom: 5px;

}

.footer_link {
  text-decoration: none;
  color: #333333;
  font-size: 18px;
}
/* --- mobile view "forside" end --- */



}


/*--- ipad view "forside" start ---*/
@media (min-width: 700px){
  
  /*------ Header and navigation -----*/


.mobileiconlabel {
  display: inline-block;
  font-style: normal;
  font-size: 3rem;
  padding: 10px 5px;
  margin-bottom: 30px;
  position: absolute;
  right: 70px;
  top: 10px;
  z-index: 25;
} 

.menuitem {
  display: block;
  width: 100%;
  padding: 10px;
  color: black;
  text-decoration: none;
  text-align: center;
  position: sticky;
}


  .logo{
    width: 18%;
  }


  .mapic2{
    width: 100%;
    display: block;
   position: relative;
    z-index: 19;
  }

  .mapic{
    display: none;
  }

  .big-title{
    top: calc(40% - 12.5rem);
    text-align: center;
    font-size: 3.6rem;
    margin-top: 240px;
  }
  
  .big-title2{
    font-size: 2rem;
    margin-top: 10px;
    color: black;
    font-family: 'Caveat', cursive;
  }
  
  .big-title3{
    margin-top: -30px;
    font-size: 2rem;
    color: black;
    font-family: 'Permanent Marker', cursive;
  }

  .animated-text {
    width: 420px;
    left: 15%;
   position: relative;
  font-size: 18px;
  line-height: 25px;
  margin-top: -135px;
  }
  
  .scroll{
  color: black; 
  position: relative;
  z-index: 30;
  text-align: center;
  padding: 0 40px; 
  margin-top: 40px;
  font-size: 16px;
  line-height: 30px;
  color: rgb(119, 138, 115);
  }
  
.pil{
  height: 120px;
  margin-left: 170px;
  margin-top: -35px;
}
.billede_txt{
  position: relative;
}
.drenge{
  position: relative;
  width: 100%;
  margin-top: -340px;
}
.seb{
  width: 100%;
  height: 100%;
  margin-top: 300px;
}

  .tekstbillede{
    position: absolute;
    color: white;
    top: 40%;
    left: 47%;
    width: 270px;
  font-size: 14px;
  line-height: 18px;
  text-align:center;
  }
  
  .tekstunder2{
  color: white;
  position:absolute; 
  top: 63%;
  left: 10%;
  font-size: 25px;
  }

  /* Pil ned section */
#section08 a {
  padding-top: 70px;
}

#section08 a span {
  position: absolute;
  left: 50%;
  width: 15px;
  height: 15px;
  margin-top: -70px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 2.5s infinite;
  animation: sdb05 2.5s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  } 
}
  .haveejer{
    width: 50%;
    margin-left: -25px;
    margin-top: 20px;
  }

  .havetekst{
    margin-top: -400px;
  font-size: 25px;
  margin-left: 460px;
  }
  
  .teksthave{
  width: 330px;
  font-size: 13px;
  margin-top: 15px;
  margin-left: 380px;
  }
  
  .teksthave2{
    width: 360px;
    font-size: 13px;
    margin-top: 40px;
    margin-left: 320px;
    }

    .teksthave3{
      text-align: center;
      font-size: 14px;
      width: 340px;
      margin-top: 240px;
      margin-left: 40px;
      }
    .pil_video{
      display: block;
      width: 65px;
      margin-left: 230px;
      transform: rotate(-20deg);
      margin-top: 10px;
    }

    .video{
      width: 90%;
      margin-left: 300px;
      margin-top: -300px;
    }

  .plantage_illu{
    width: 100%;
    margin-top: 100px;
    font-family: 'Shadows Into Light Two', cursive;
  }
  .plantage_img{
    position: relative;
    width: 100%;
    margin-left: -100px;
  }
  .høst{
    display: block;
    position: absolute;
    color: orange;
    top: 46%;
  left: 75%;
  font-size: 26px;
  transform: translate(-50%, -50%);
  }

  .og{
    display: block;
    color: orange;
    font-size: 35px;
    margin-left: 385px;
    margin-top: -80px;
  }

  .begyndelse{
    display: block;
    color: orange;
    font-size: 28px;
    margin-top: 50px;
    text-align: center;
  }
  
    .infographic{
margin-top: 10px;
 width: 100%;
 height: 100%;
    }
    .cider_find{
      color: rgb(160, 177, 121);
      font-size: 25px;
      margin: auto;
      font-family: 'Shadows Into Light Two', cursive;
      padding: 50px 140px 50px 60px;
    }
    .pil2{
      height: 120px; 
      margin: auto;
      padding-left: 620px;
      margin-top: -100px;
      margin-bottom: 10px;
        } 
    .hvor{
      font-size: 30px;
      padding-right: 4px;
    }

  .mere_container{
    height: 120px;
      background-color: rgb(136, 163, 133);
      padding-left: 0px;
      padding-top: 40px;
      text-align: center;
      align-items: center;
      font-size: 20px;
    }

    /* Pil ned section */
#section07 a {
  padding-top: -70px;
  align-items: center;
}

#section07 a span {
  position: absolute;
  margin-left: 210px;
  width: 15px;
  height: 15px;
  margin-top: -7px;
  border-left: 2px solid rgb(5, 5, 5);
  border-bottom: 2px solid rgb(0, 0, 0);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
.undersider_desktop{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
} 
.container_underside {
  display: none;
}


.undersider_desktop img {
  width: 33.3%;
  height: auto;
}

.undersider_desktop .btn_omos {
  position: absolute;
  top: 50%;
  left: 16%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  opacity: 0.8;
  color: black;
  font-size: 16px;
  padding: 5px 16px;
  border: none;
  cursor: pointer;
  border-radius: 7px;
}

.container_undersider{
display: none;
}

.undersider_desktop .btn_produktion {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  opacity: 0.8;
  color: black;
  font-size: 16px;
  padding: 5px 16px;
  border: none;
  cursor: pointer;
  border-radius: 7px;
}
.undersider_desktop .btn_webshop {
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  opacity: 0.8;
  color: black;
  font-size: 16px;
  padding: 5px 16px;
  border: none;
  cursor: pointer;
  border-radius: 7px;
}


/* kort mobilversion */ 


.container {
  position: relative;
  width: 100%;
  display: block;
}


 /* Bardok knap*/ 

/* Style the button and place it in the middle of the container/image */
.container .mybtn {
  position: absolute;
  top: 57%;
  left: 43%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color:transparent;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: block;
}


.navi{
display: block;
  width: 50px;
}



.koort {
 width: 862px;
 height: 500px;
  display: block;
}




/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color:bisque;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  text-align: center;
  display: block;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  display: block;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  display: block;
}








/* Nabo kiosk knap*/ 





/* Style the button and place it in the middle of the container/image */
.container .mybtn2 {
display: block;
  position: absolute;
  top: 20%;
  left: 80%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color:transparent;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}


.navi2{
display: block;
  width: 50px;
}








/* The Modal (background) */
.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content2 {
  background-color:bisque;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  text-align: center;
  display: block;
}

/* The Close Button */
.close2 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  display: block;
}

.close2:hover,
.close2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  display: block;
}






/* Moef knap*/ 


/* Style the button and place it in the middle of the container/image */
.container .mybtn3 {
display: block;
  position: absolute;
  top: 72%;
  left: 58%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color:transparent;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}


.navi3{
display: block;
  width: 50px;
}








/* The Modal (background) */
.modal3 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content3 {
  display: block;
  background-color:bisque;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  text-align: center;
}

/* The Close Button */
.close3 {
  display: block;
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close3:hover,
.close3:focus {
  display: block;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}



/* Bambi knap*/ 


/* Style the button and place it in the middle of the container/image */
.container .mybtn4 {
display: block;
  position: absolute;
  top: 35%;
  left: 55%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color:transparent;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}


.navi4{
display: block;
  width: 50px;
}








/* The Modal (background) */
.modal4 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content4 {
  display: block;
  background-color: bisque;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  text-align: center;
}

/* The Close Button */
.close4 {
  display: block;
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close4:hover,
.close4:focus {
  display: block;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

}

/*--- desktop view "forside" start ---*/
@media(min-width: 900px){
  .logo{
    width: 12%;
  }

  nav{
    margin-top: 100px;
  }
  .mapic2{
    margin-top: -100px;
    width: 100%;
    display: block;
    z-index: 19;
  }

  
  .mapic{
    display: none;
  }

  .big-title{
    top: calc(0% - 12.5rem);
    text-align: center;
    font-size: 4.6rem;
    padding-top: 200px;
  }
  
  .big-title2{
    font-size: 3.6rem;
    margin-top: 25px;
    color: black;
    font-family: 'Caveat', cursive;
  }
  
  .big-title3{
    margin-top: -5px;
    font-size: 3rem;
    color: black;
    font-family: 'Permanent Marker', cursive;
  }

  .animated-text {
    width: 100%;
    text-align: center;
    left: 0%;
    padding-left: 50px;
  font-size: 30px;
  line-height: 25px;
  padding-top: 350px;
  }
  
  .scroll{
  color: black; 
  position:absolute;
  z-index: 30;
  text-align: center;
  padding: 0 40px; 
  margin-top: 80px;
  font-size: 30px;
  line-height: 30px;
  margin-left: 200px;
  color: rgb(119, 138, 115);
  }
  
.pil{
  height: 180px;
  margin-left: 240px;
  margin-top: -35px;
}
 
.drenge{
  position: relative;
  width: 100%;
}
.seb{
  height: 100%;
  margin-top: 435px;
}

  .tekstbillede{
    color:white;
    position:absolute; 
    top: 47%;
    left: 50%;
    width: 330px;
  font-size: 16px;
  line-height: 18px;
  text-align:center;
  }
  
  .tekstunder2{
  color: white;
  position:absolute; 
  top: 68%;
  font-size: 30px;
  }

  /* Pil ned section */
#section08 a {
  padding-top: 70px;
}

#section08 a span {
  position: absolute;
  left: 50%;
  width: 15px;
  height: 15px;
  margin-top: -70px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 2.5s infinite;
  animation: sdb05 2.5s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  } 
}
  .haveejer{
    width: 50%;
    margin-left: -25px;
    margin-top: 20px;
  }

  .havetekst{
    margin-top: -480px;
  font-size: 35px;
  margin-left: 550px;
  }
  
  .teksthave{
  width: 400px;
  font-weight: 300;
  font-size: 18px;
  margin-top: 20px;
  margin-left: 460px;
  line-height: 20px;
  }
  
  .teksthave2{
    width: 400px;
    font-size: 18px;
    margin-top: 40px;
    margin-left: 390px;
    line-height: 20px;
    }

    .teksthave3{
      text-align: center;
      font-size: 18px;
      width: 400px;
      margin-top: 280px;
      margin-left: 40px;
      line-height: 20px;
      }
    .pil_video{
      display: block;
      width: 85px;
      margin-left: 230px;
      transform: rotate(-20deg);
      margin-top: 10px;
    }

  .plantage_illu{
    width: 100%;
    margin-top: 100px;
  }
  .plantage_img{
    position: relative;
    width: 100%;
    margin-left: -100px;
  }
  .høst{
    display: block;
    position: absolute;
    color: orange;
    top: 56%;
  left: 57%;
  font-size: 20px;
  transform: translate(-50%, -50%);
  }
  .og{
    display: block;
    color: orange;
    font-size: 30px;
    margin-left: 480px;
  }
  .begyndelse{
    display: block;
    color: orange;
    font-size: 20px;
    margin-left: 480px;
  }
    .infographic{
margin-top: 10px;
 width: 100%;
 height: 100%;
    }
    .cider_find{
      color: rgb(160, 177, 121);
      font-size: 20px;
      margin: auto;
      padding: 50px 250px 50px 60px;
    }
    .pil2{
      height: 150px; 
      margin: auto;
      padding-left: 660px;
      margin-top: -120px;
      margin-bottom: 10px;
        } 
    .hvor{
      font-size: 25px;
      padding-right: 4px;
    }
  .mere_container{
    height: 120px;
      background-color: rgb(136, 163, 133);
      padding-left: 380px;
      padding-top: 40px;
      font-size: 25px;
    }
    /* Pil ned section */
#section07 a {
  padding-top: 70px;
}

#section07 a span {
  position: absolute;
  left: 17%;
  width: 15px;
  height: 15px;
  margin-top: -7px;
  border-left: 2px solid rgb(5, 5, 5);
  border-bottom: 2px solid rgb(0, 0, 0);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
.undersider_desktop{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
} 
.container_underside {
  display: none;
}


.undersider_desktop img {
  width: 33.3%;
  height: auto;
}

.undersider_desktop .btn_omos {
  position: absolute;
  top: 50%;
  left: 16%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  opacity: 0.8;
  color: black;
  font-size: 22px;
  padding: 10px 25px;
  border: none;
  cursor: pointer;
  border-radius: 7px;
}

.container_undersider{
display: none;
}

.undersider_desktop .btn_produktion {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  opacity: 0.8;
  color: black;
  font-size: 22px;
  padding: 10px 25px;
  border: none;
  cursor: pointer;
  border-radius: 7px;
}
.undersider_desktop .btn_webshop {
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  opacity: 0.8;
  color: black;
  font-size: 22px;
  padding: 10px 25px;
  border: none;
  cursor: pointer;
  border-radius: 7px;
}






.billede {
  margin-left: -230px;
  width: 800px;
  
      }
  
      .billede2 {
          margin-left: -40px;
         margin-top: 100px;
          width: 400px;
         
              }
  
              .billede4 {
                  margin-left: -40px;
               margin-top: 100px;
                  width: 450px;
              }        
  
  
              .bardok {
  font-size: 40px; 
  margin-top: 150px;
  
  text-align: center;
  
              }
  
  .tekst7 {
  
  margin-top: -100px;
  text-align: center;
  font-size: 25px;
  
  }
         .tekst8 {
          margin-top: 10px;
          text-align: center;
          font-size: 25px;
         }    
  
  
  .tekst6{
  margin-top: 150px;
  margin-left: 30px;
  font-size: 30px;
  }

















/* kort mobilversion */ 


.container {
 display: none;
}


 /* Bardok knap*/ 

/* Style the button and place it in the middle of the container/image */
.container .mybtn {
  display: none;
}


.navi{

  display: none;
}



.koort {
display: none;
}




/* The Modal (background) */
.modal {
display: none;
}

/* Modal Content */
.modal-content {
  display: none;
}

/* The Close Button */
.close {
 display: none;
}

.close:hover,
.close:focus {
 display: none;
}








/* Nabo kiosk knap*/ 





/* Style the button and place it in the middle of the container/image */
.container .mybtn2 {
 display: none;
}


.navi2{

  display: none;
}








/* The Modal (background) */
.modal2 {
  display: none; /* Hidden by default */
 
}

/* Modal Content */
.modal-content2 {
  display: none;
}

/* The Close Button */
.close2 {
  display: none;
}

.close2:hover,
.close2:focus {
  display: none;
}






/* Moef knap*/ 


/* Style the button and place it in the middle of the container/image */
.container .mybtn3 {
  display: none;
}


.navi3{

  display: none;
}








/* The Modal (background) */
.modal3 {
  display: none; /* Hidden by default */
 
}

/* Modal Content */
.modal-content3 {
display: none;
}

/* The Close Button */
.close3 {
  display: none;
}

.close3:hover,
.close3:focus {
display: none;
}















/* Bambi knap*/ 


/* Style the button and place it in the middle of the container/image */
.container .mybtn4 {
  display: none;
}


.navi4{

 display: none;
}








/* The Modal (background) */
.modal4 {
  display: none; /* Hidden by default */
 
}

/* Modal Content */
.modal-content4 {
  display: none;
}

/* The Close Button */
.close4 {
 display: none;
}

.close4:hover,
.close4:focus {
display: none;
}




.nabo{
z-index: 30;
  width: 50px;
}




.kort{
 height: 100%;
 width: 100%;
 display: block;
  
  }


}


































/*--- desktop ---*/

@media (min-width: 1200px){
  .mapic2{
    width: 100%;
    height: auto;
    display: block;
   position: relative;
    z-index: 19;
  }

  .mapic{
    display: none;
  }

  .big-title{
    top: calc(20% - 12.5rem);
    text-align: center;
    font-size: 4.6rem;
    margin-top: 330px;
  }
  
  .big-title2{
    font-size: 3.6rem;
    margin-top: 25px;
    color: black;
    font-family: 'Caveat', cursive;
  }
  
  .big-title3{
    margin-top: -5px;
    font-size: 3rem;
    color: black;
    font-family: 'Permanent Marker', cursive;
  }

  .animated-text {
    width: 700px;
    left: 17%;
  font-size: 25px;
  line-height: 32px;
  margin-top: -700px;
  }
  
  .scroll{
  color: black; 
  position:absolute;
  z-index: 30;
  text-align: center;
  padding: 0 130px; 
  margin-top: 80px;
  font-size: 28px;
  line-height: 30px;
  color: rgb(119, 138, 115);
  }
  
.pil{
  height: 180px;
  margin-left: 400px;
  margin-top: -25px;
}
 
.drenge{
  position: relative;
  width: 100%;
  margin-top: -300px;
}
.seb{
  height: auto;
  width: 100%;
}

  .tekstbillede{
    color:white;
    position:absolute; 
    width: 600px;
   top: 40%;
   left: 50%;
  font-size: 26px;
  line-height: normal;
  text-align:center;
 
  }
  .tyk_tegn{
    font-size: 25px;
  }
  
  .tekstunder2{
  color: white;
  position:absolute; 
  top: 67%;
  left: 18%;
  font-size: 35px;
  }

  /* Pil ned section */
#section08 a {
  padding-top: 70px;
}

#section08 a span {
  position: absolute;
  left: 50%;
  width: 15px;
  height: 15px;
  margin-top: -70px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 2.5s infinite;
  animation: sdb05 2.5s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  } 
}
  .haveejer{
    width: 45%;
    margin-left: 50px;
    margin-top: 30px;
  }

  .havetekst{
   margin-top: -690px;
  font-size: 35px;
  margin-left: 700px;
  }
  
  .teksthave{
  width: 580px;
  font-weight: 300;
  font-size: 22px;
  margin-top: 30px;
  margin-left: 670px;
  line-height: normal;
  }
  
  .teksthave2{
    width: 590px;
    font-size: 22px;
    margin-top: 60px;
    margin-left: 560px;
    line-height: normal;
    }

    .teksthave3{
      text-align: center;
      font-size: 22px;
      width: 600px;
      margin-top: 400px;
      margin-left: 80px;
      line-height: normal;
      }
    .pil_video{
      display: block;
      width: 100px;
      margin-left: 230px;
      transform: rotate(-20deg);
      margin-top: 10px;
    }

  .plantage_illu{
    width: 100%;
    margin-top: 100px;
  }
  .plantage_img{
    position: relative;
    width: 90%;
    margin-left: -100px;
  }
  .høst{
    display: block;
    position: absolute;
    color: orange;
    top: 50%;
  left: 70%;
  font-size: 35px;
  transform: translate(-50%, -50%);
  }
  .og{
    display: block;
    color: orange;
    font-size: 40px;
    margin-left: 730px;
  }
  .begyndelse{
    display: block;
    color: orange;
    font-size: 40px;
    margin-left: 0px;
  }
    .infographic{
margin-top: 10px;
 width: 100%;
 align-items: center;
 height: 100%;
    }
    .cider_find{
      color: rgb(160, 177, 121);
      font-size: 35px;
      margin: auto;
      padding: 100px 400px 50px 200px;
    }
    .pil2{
      height: 200px; 
      margin: auto;
      padding-left: 1000px;
      margin-top: -120px;
      margin-bottom: 10px;
        } 
    .hvor{
      font-size: 40px;
      padding-right: 4px;
      color: black;
    }
  .mere_container{
    height: 120px;
      background-color: rgb(136, 163, 133);
      padding-left: 0px;
      padding-top: 40px;
      font-size: 25px;
    }
    /* Pil ned section */
#section07 a {
  padding-top: 70px;
}

#section07 a span {
  position: absolute;
  left: 35%;
  width: 15px;
  height: 15px;
  margin-top: -7px;
  border-left: 2px solid rgb(5, 5, 5);
  border-bottom: 2px solid rgb(0, 0, 0);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
.undersider_desktop{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
} 
.container_underside {
  display: none;
}


.undersider_desktop img {
  width: 33.3%;
  height: auto;
}

.undersider_desktop .btn_omos {
  position: absolute;
  top: 50%;
  left: 16%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  opacity: 0.8;
  color: black;
  font-size: 22px;
  padding: 10px 25px;
  border: none;
  cursor: pointer;
  border-radius: 7px;
}

.container_undersider{
display: none;
}

.undersider_desktop .btn_produktion {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  opacity: 0.8;
  color: black;
  font-size: 22px;
  padding: 10px 25px;
  border: none;
  cursor: pointer;
  border-radius: 7px;
}
.undersider_desktop .btn_webshop {
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  opacity: 0.8;
  color: black;
  font-size: 22px;
  padding: 10px 25px;
  border: none;
  cursor: pointer;
  border-radius: 7px;
}








/* kort mobilversion */ 


.container {
  display: none;
 }
 
 
  /* Bardok knap*/ 
 
 /* Style the button and place it in the middle of the container/image */
 .container .mybtn {
   display: none;
 }
 
 
 .navi{
 
   display: none;
 }
 
 
 
 .koort {
 display: none;
 }
 
 
 
 
 /* The Modal (background) */
 .modal {
 display: none;
 }
 
 /* Modal Content */
 .modal-content {
   display: none;
 }
 
 /* The Close Button */
 .close {
  display: none;
 }
 
 .close:hover,
 .close:focus {
  display: none;
 }
 
 
 
 
 
 
 
 
 /* Nabo kiosk knap*/ 
 
 
 
 
 
 /* Style the button and place it in the middle of the container/image */
 .container .mybtn2 {
  display: none;
 }
 
 
 .navi2{
 
   display: none;
 }
 
 
 
 
 
 
 
 
 /* The Modal (background) */
 .modal2 {
   display: none; /* Hidden by default */
  
 }
 
 /* Modal Content */
 .modal-content2 {
   display: none;
 }
 
 /* The Close Button */
 .close2 {
   display: none;
 }
 
 .close2:hover,
 .close2:focus {
   display: none;
 }
 
 
 
 
 
 
 /* Moef knap*/ 
 
 
 /* Style the button and place it in the middle of the container/image */
 .container .mybtn3 {
   display: none;
 }
 
 
 .navi3{
 
   display: none;
 }
 
 
 
 
 
 
 
 
 /* The Modal (background) */
 .modal3 {
   display: none; /* Hidden by default */
  
 }
 
 /* Modal Content */
 .modal-content3 {
 display: none;
 }
 
 /* The Close Button */
 .close3 {
   display: none;
 }
 
 .close3:hover,
 .close3:focus {
 display: none;
 }
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 /* Bambi knap*/ 
 
 
 /* Style the button and place it in the middle of the container/image */
 .container .mybtn4 {
   display: none;
 }
 
 
 .navi4{
 
  display: none;
 }
 
 
 
 
 
 
 
 
 /* The Modal (background) */
 .modal4 {
   display: none; /* Hidden by default */
  
 }
 
 /* Modal Content */
 .modal-content4 {
   display: none;
 }
 
 /* The Close Button */
 .close4 {
  display: none;
 }
 
 .close4:hover,
 .close4:focus {
 display: none;
 }
 
 
 
 
 .nabo{
 z-index: 30;
   width: 50px;
 }
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 


}
/*---- desktop view "forside" end ---*/